/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: FASTP {
        cpus = 4
        memory = { 4.GB * Math.pow(2, task.attempt) }
        time = 8.h
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.json')) {
                    return "${meta.id}_qc.fastp.json"
                }
            },
        ]
    }

    withName: BBMAP_REFORMAT_STANDARDISE {
        ext.args = 'qin=33 qout=33'
        cpus = 1
        memory = { 16.GB * Math.pow(2, task.attempt) }
        time = 8.h
    }

    withName: BWAMEM2_MEM {
        cpus = 4
        memory = 32.GB
        time = 4.h
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bwamem2" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.bam')) {
                    return "${meta.id}_${meta.db_id}.bam"
                }
            },
        ]
    }

    withName: BBMAP_ALIGN {
        ext.args = "minid=0.95 maxindel=80 strictmaxindel=t"
        cpus = 4
        memory = 32.GB
        time = 4.h
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bbmap" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.contains('.bam')) {
                    return "${meta.id}_${meta.db_id}.bam"
                }
            },
        ]
    }

    withName: BWAMEM2_INDEX {
        cpus = 4
        memory = 32.GB
        time = 4.h
    }
}
